<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>bug统计列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/mine/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/mine/css/scroll-bar.css">
    <link rel="stylesheet" href="/static/mine/css/sub-page.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_693759_wytlyqhtdtj1nhfr.css">
    <link rel="stylesheet" href="/static/mine/lib/nprogress/nprogress.css">
    <link rel="stylesheet" type="text/css" href="/static/layui-formSelects-master/dist/formSelects-v4.css"/>

</head>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>bug统计管理</cite></a>
                <a><cite>统计管理</cite></a>
                <a><cite>项目统计列表</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--模糊搜索区域-->
   <div class="layui-row">
        <form class="layui-form layui-col-md12 layui-form-pane ok-form">
            <div class="layui-form-item">
                <label class="layui-form-label">项目名称</label>
                <div class="layui-input-inline " style="width: 300px;">
                    <select name="projectid" id="projectName" xm-select="selectId" xm-select-search="">
                        <option value=""></option>
                    </select>
                </div>
                <label class="layui-form-label">日期选择</label>
                <div class="layui-input-inline">
                    <input type="text" name="date" id="date1" autocomplete="off" placeholder="开始日期" class="layui-input">
                 </div>
                <div class="layui-input-inline">
                    <input type="text" name="date" id="date2" autocomplete="off" placeholder="结束日期" class="layui-input">
                 </div>
                <a class="layui-btn" data-type="reload" lay-filter="search">
                     <i class="layui-icon layui-icon-search"></i>
                </a>
            </div>
        </form>
    </div>
    <!--工具栏-->
    <okToolbar>
        <button class="layui-btn" id="export">
            <i class="layui-icon">&#xe601;</i>导出数据
        </button>
        <span>共有数据：<i id="countNum"></i> 条</span>
    </okToolbar>
    <!--数据表格-->
    <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
</div>
<!--js逻辑-->
<script src="/static/mine/lib/layui/layui.js"></script>
<script src="/static/mine/lib/nprogress/nprogress.js"></script>
<script src="/static/layui-formSelects-master/dist/formSelects-v4.js"></script>
<script src="//unpkg.com/jquery@3.3.1/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    };


    layui.use(['element', 'table', 'form', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var laypage = layui.laypage;
        var formSelects = layui.formSelects;


           //下拉选择框
            $.ajax({
                url: '/bugStatistics/bugProjectName/',
                dataType: 'json',
                type: 'get',
                success: function (data) {
                    $.each(data, function (index, item) {
                        $('#projectName').append(new Option(item.projectName, item.id));// 下拉菜单里添加元素
                    });
                    formSelects.render('selectId');
                    //重新渲染 固定写法
                }
            });

        {#formSelects.render('selectId');#}

        laydate.render({
            elem: '#date1'
             });
        laydate.render({
            elem: '#date2'
             });

        table.render({
            elem: '#tableId',
            url: '/bugStatistics/pbList/',
            limit: 10,
            page: true,
            id:"tableId",
            where: {
                'keyword': '',
                'date1': '',
                'date2': ''
            },
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: 'ID',type:'numbers'},
                {field: 'projectName', title: '项目名称'},
                {field: 'bugs1', title: '一级bug数'},
                {field: 'bugs2', title: '二级bug数'},
                {field: 'bugs3', title: '三级bug数'},
                {field: 'bugs4', title: '四级bug数'},
                {field: 'bugs', title: 'bug总计'},
                {#{field: 'projectName', title: '关联项目'},#}
                {#{title: '操作',  templet: '#operationTpl', align: 'center'}#}
            ]],
            done: function (res, curr, count) {
                $("#countNum").text(count);
            }
        });
        {#重载#}
        var active = {
                    reload: function () {
                    var p = formSelects.value('selectId', 'all');
                    var pkey = JSON.stringify(p);
                    var date1 = $('#date1').val();
                    var date2 = $('#date2').val();
                        {#alert(pkey);#}
                          //执行重载
                    table.reload('tableId', {
                                page: {
                                      curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                                'keyword': pkey,
                                'date1': date1,
                                'date2': date2
                        },
                        {#url: '/search/'#}
                    });
                }
            };
        $('.layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';

        });
        {#重载结束#}

        $("#export").click(function () {
            {#var checkStatus = table.checkStatus('tableId')#}
            {#    ,data = checkStatus.data;#}
            {#data = JSON.stringify(layui.table.cache.tableId);#}
            {#data1 = JSON.stringify(table);#}
            var p = formSelects.value('selectId', 'all');
            var pkey = JSON.stringify(p);
            $.ajax({
                    url: '/bugStatistics/projectExportToCsv/',
                    data: pkey,
                    type: "post" ,
                    dataType:'json',
                    contentType :"application/json",
                    success:function (data1) {
                    if (data1.code == 0) {
                        layer.msg('导出成功', {
                            offset: ['50%'],
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        },function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index);
                            location.href = '/bugStatistics/statistics/'
                        });
                    } else if (data1.code==2) {
                        layer.msg(data1.msg)
                    }
                    else{
                        layer.msg('导出异常，请检查')
                    }
                }
            });
        });

    })
</script>
</body>
</html>