<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>编辑接口</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/mine/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/mine/css/scroll-bar.css">
    <link rel="stylesheet" href="/static/mine/css/sub-page.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_693759_wytlyqhtdtj1nhfr.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>接口用例管理</cite></a>
                <a><cite>接口管理</cite></a>
				<a><cite>编辑接口</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" id="api-add" lay-filter="api">
        <div class="layui-form-item">
            <label class="layui-form-label">执行环境</label>
            <div class="layui-input-block">
                 <select name="envid" id="envname">
                    <option value="请选择">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择项目</label>
            <div class="layui-input-block">
                <select name="projectid" id="projectName" lay-verify="required" lay-filter="projectNameFilter">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">接口名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="请输入名称" autocomplete="off" class="layui-input" lay-verify="required" value="{{ name }}" >
                <input type="hidden" name="user"  autocomplete="off" class="layui-input" value="{{ user }}" >
                <input type="hidden" name="id"  autocomplete="off" class="layui-input" value="{{ id }}" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请求方式</label>
            <div class="layui-input-inline">
                <select name="method" id="method">
                    <option value="post">post</option>
                    <option value="get">get</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="httptype" id="httptype">
                    <option value="http">http</option>
                    <option value="https">https</option>
                </select>
            </div>
        </div>
         <div class="layui-form-item">
               <label class="layui-form-label">访问路径</label>
               <div class="layui-input-block">
                   <input type="text" name="url" placeholder="请输入访问路径" autocomplete="off" class="layui-input" lay-verify="required" value="{{ url }}">
               </div>
         </div>
        <div class="layui-form-item">
            <div id="head" d="{{ headers }}" style="display: none"></div>
            <label class="layui-form-label">请求头</label>
            <div class="layui-input-block">
                <div id="hd">
                    <table class="layui-table" id="pa">
                        <colgroup>
                          <col width="200">
                          <col width="200">
                          <col width="50">
                          <col>
                        </colgroup>
                        <thead>
                          <tr>
                            <th>参数名</th>
                            <th>参数值</th>
                            <th><button class="layui-btn layui-btn-primary layui-btn-sm" onclick="" id="addhead"><i class="layui-icon">&#xe654;</i></button>
                          </tr>
                        </thead>
                        <tbody>
{#                          <tr>#}
{#                              <th><input type="text" name="head_name" placeholder="请输入参数名" class="layui-input" id="hname"> </th>#}
{#                              <th><input type="text" name="head_key" placeholder="请输入参数值" class="layui-input" id="hkey"> </th>#}
{#                              <th><button class="layui-btn layui-btn-primary layui-btn-sm" onclick="" id="addhead"><i class="layui-icon">&#xe654;</i></button>#}
{#                                  <button class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon" onclick="" id="delhead"></i></button>#}
{#                              </th>#}
{#                          </tr>#}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div id="op" o="{{ params }}" style="display: none"></div>
            <div id="fi" z="{{ files }}" style="display: none"></div>
            <label class="layui-form-label">请求参数</label>
            <div class="layui-input-block" id="re">
              <input type="radio" name="requestParameterType" id = "raw" value="0" title="json源数据" lay-filter="type" disabled>
              <input type="radio" name="requestParameterType" id="fa" value="1" title="表单（form-data）" lay-filter="type" checked="true">
{#                <div class='layui-form-item layui-form-text' id='hh'>#}
{#                    <label class='layui-form-label'>json参数</label>#}
{#                    <div class='layui-input-block'>#}
{#                        <textarea placeholder='请输入内容' class='layui-textarea'></textarea>#}
{#                    </div>#}
{#                </div>#}
{#                  表格#}
            <div id="hh">
                <table class="layui-table" id="param">
                    <colgroup>
                      <col width="50">
                      <col width="200">
                      <col width="50">
                      <col width="50">
                      <col>
                    </colgroup>
                    <thead>
                      <tr>
                        <th>参数名</th>
                        <th>参数值</th>
                        <th>类型</th>
                        <th><button class="layui-btn layui-btn-primary layui-btn-sm" onclick="" id="add1"><i class="layui-icon">&#xe654;</i></button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="" id="addFile"><i class="layui-icon">&#xe621;</i></button>

{#                            <button class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon" onclick="" id="delrow"></i></button></th>#}
                      </tr>
                    </thead>
                    <tbody>
{#                      <tr>#}
{#                          <th><input type="text" name="param_name" placeholder="请输入参数名" class="layui-input" id="pname"> </th>#}
{#                          <th><input type="text" name="param_key" placeholder="请输入参数值" class="layui-input" id="pkey"> </th>#}
{#                          <th><select name="paramType" id="paramType">#}
{#                                    <option value="int">int</option>#}
{#                                    <option value="string">string</option>#}
{#                              </select> </th>#}
{#                          <th><button class="layui-btn layui-btn-primary layui-btn-sm" onclick="" id="add1"><i class="layui-icon">&#xe654;</i></button>#}
{#                              <button class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon" onclick="" id="delrow"></i></button>#}
{#                          </th>#}
{#                      </tr>#}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
{#        <div class="layui-form-item ">#}
{#            <label class="layui-form-label">排序</label>#}
{#            <div class="layui-input-block">#}
{#                <input type="text" name="desc" placeholder="请输入数字1-99" autocomplete="off" class="layui-input" value="{{ sort }}" lay-verify="numbers" >#}
{#            </div>#}
{#        </div>#}
        <div class="layui-form-item ">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <input type="text" name="desc" placeholder="请输入环境描述" autocomplete="off" class="layui-input" value="{{ desc }}">
            </div>
        </div>
        <div class="layui-form-item">
            <div id="globalVariable" globalV="{{ gv }}" style="display: none"></div>
            <label class="layui-form-label">设置变量</label>
            <div class="layui-input-block">
                <div id="hd">
                    <table class="layui-table" id="gv">
                        <colgroup>
                          <col width="200">
                          <col width="200">
                          <col width="50">
                          <col>
                        </colgroup>
                        <thead>
                          <tr>
                            <th>全局变量命名</th>
                            <th>返回参数的路径</th>
                            <th><button class="layui-btn layui-btn-primary layui-btn-sm" onclick="" id="addGv"><i class="layui-icon">&#xe654;</i></button>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div id="sqlM"  style="display: none"></div>
            <label class="layui-form-label">添加数据库</label>
            <div class="layui-input-inline" style="width: 300px">
                <select name="sqlType" id="sqlType" lay-filter="sqlType">
                    <option value="">请选择数据库类型</option>
                    <option value="1">mysql</option>
                    <option value="2">redis</option>
                    <option value="3">mangoDB</option>
                </select>
            </div>
            <div class="layui-input-inline" style="width: 300px">
                <select name="sqlId" id="sqlName">
                    <option value="">请选数据库环境</option>
                </select>
            </div>
        </div>
         <div class="layui-form-item">
             <div class="layui-input-block">
                <textarea name="sqlText" autocomplete="off" placeholder="请输入对应sql语句，分号隔开" class="layui-textarea" id="sqlText" style="min-height: 100px"></textarea>
             </div>
             <label class="layui-form-label">sql变量名</label>
             <div class="layui-input-block">
                <input type="text" name="sqlGlobalname" placeholder="请输入sql接收变量名称，分号隔开" autocomplete="off" class="layui-input"  value="{{ sqlGlobalname }}" >
             </div>
         </div>
         <div class="layui-form-item">
            <div id="assert"  at="{{ asserts }}" style="display: none"></div>
            <label class="layui-form-label">响应断言</label>
            <div class="layui-input-block">
                <div id="xy">
                    <table class="layui-table" id="as">
                        <colgroup>
                          <col width="200">
                          <col width="200">
                          <col width="50">
                          <col>
                        </colgroup>
                        <thead>
                          <tr>
                            <th>返回参数路径</th>
                            <th>返回参数值</th>
                            <th><button class="layui-btn layui-btn-primary layui-btn-sm" onclick="" id="addAs"><i class="layui-icon">&#xe654;</i></button>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-form-item ">
            <label class="layui-form-label">响应结果</label>
            <div class="layui-input-block">
                <textarea name="response" autocomplete="off" class="layui-textarea" id="response" style="min-height: 200px" disabled></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="run">测试运行</button>
                <button class="layui-btn" lay-submit lay-filter="edit">保存</button>
{#                <button type="reset" class="layui-btn layui-btn-primary">重置</button>#}
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="/static/mine/lib/layui/layui.js"></script>
<script>

    layui.use(['element', 'form', 'jquery', 'laydate','upload'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var upload = layui.upload;

        $("#method option[value='{{ method }}']").prop("selected",true);
        $("#httptype option[value='{{ httptype }}']").prop("selected",true);


        form.on('radio(type)', function (data) {
            //判断单选框的选中值
            abc=data.value;
            if(abc==0){
                $('#pm').remove();
                $('#raw').parent().append("<div class='layui-form-item layui-form-text' id='hh'>"+ "<label class='layui-form-label'>"+"json参数"+"</label>"+"<div class='layui-input-block'>"+ "<textarea placeholder='请输入内容' class='layui-textarea'>"+"</textarea>"+ "</div>"+"</div>");
            }else{
                $('#hh').remove();
                $('#fa').parent().append("<div id='pm'><table class ='layui-table'>" + "<colgroup>" + "<col width=’150’>"+"<col width=“150”>"+"<col width=’200’>" + "<col>"+"</colgroup>"+"<thead>"+"<tr>"+"<th>参数名</th>"+"<th>参数值</th>"+"<th>操作</th>"+"</tr>"+"</thead>"+"<tbody>"+"<tr>"+"<th>"+"<input type=’text’ name=’param_name’ placeholder=请输入参数名 class=’layui-input’>"+" </th>"+"<th><input type=’text’  name=’param_key’ placeholder=请输入参数值 class=’layui-input’> </th>"+"</tr>"+ "</tbody>" + "</table>"+"</div>");

            }
            form.render();
        });

        //请求头
        var d=$("#head").attr("d");
        var f = d.replace(/u'/g,"'");
        var da=eval(f);
        if (da) {
            for(var i=0;i<da.length;i++) {
                    var thtml = "<tr>" + "<th>" + "<input type='text' name='head_name' placeholder=请输入参数名 class='layui-input' value='" + da[i].head_name + "'>" + " </th>" + "<th><input type='text'  name='head_key' placeholder=请输入参数值 class='layui-input' value='" + da[i].head_key + "'> </th>" + "<th>"+"<a  class='delrow' id='delrow' ><i class='layui-icon'></i></a>"+"</th>"+"</tr>";
                    $('#pa tbody').append(thtml);// tabel动态显示元素
            }
         }

         //请求参数赋值
         var k=$("#op").attr("o");
        var z=$("#fi").attr("z");
        var l = k.replace(/u'/g,"'");
        var z1 = z.replace(/u'/g,"'");
        var oa=eval(l);
        var z2=eval(z1);
        if (oa) {
            for (var i = 0; i < oa.length; i++) {
                var thtml = "<tr>" + "<th>" + "<input type='text' name='param_name' placeholder=请输入参数名 class='layui-input' value='" + oa[i].param_name + "'>" + " </th>" + "<th><input type='text'  name='param_key' placeholder=请输入参数值 class='layui-input' value='" + oa[i].param_key + "'> </th>" + "<th><select name='paramType' id='paramType" + i + "'>" + "<option value='int'>int</option>" + "<option value='string'>string</option>" + "<option value='File'>File</option>" + "</select>" + "</th>" + "<th>" + "<a  class='delrow' id='delrow' ><i class='layui-icon'></i></a>" + "</th>" + "</tr>";
                $('#param tbody').append(thtml);// tabel动态显示元素
                $("select[id=paramType" + i + "]").val(oa[i].paramType);
                form.render();
            }
        }
        if(z2){
            for(var i=0;i<z2.length;i++) {
                    var thtml="<tr>"+"<th>"+"<input type='text' name='file_name' placeholder=请输入参数名 class='layui-input' value='"+z2[i].param_name+"'>"+" </th>"+"<th>"+"<div class='layui-form-item '>"+"<div class='layui-input-inline' style='width: 75%'>"+"<input type='text' id='fpath' name='fpath' placeholder='请输入路径' class='layui-input' value='"+z2[i].param_key+"'>"+"<input type='hidden'  id='file_real_name' name='file_real_name' placeholder=请输入文件名 class='layui-input' value='"+z2[i].fname+"'>"+"</div>"+"<input type='file' class ='upFile' name='upFile' id='upFile' style='width: 15%' value='选择文件'>"+"</div>"+"</th>"+"<th><select name='pType' id='pType'>"+"<option value='File'>File</option>"+"</select>"+"</th>"+"<th>"+"<a  class='delrow' id='delrow' ><i class='layui-icon'></i></a>"+"</th>"+"</tr>";
                    $('#param tbody').append(thtml);// tabel动态显示元素
                    $("select[id=pType" + i + "]").val(z2[i].paramType);
                    form.render();
            }

         }

          //断言参数赋值
        var jj=$("#assert").attr("at");
        var at = jj.replace(/u'/g,"'");
        var ats=eval(at);
        if (ats) {
            for(var i=0;i<ats.length;i++) {
                    var thtml = "<tr>" + "<th>" + "<input type='text' name='a_path'  class='layui-input' value='" + ats[i].a_path + "'>" + " </th>" + "<th><input type='text'  name='a_value' placeholder=请输入参数值 class='layui-input' value='" + ats[i].a_value + "'></th>" +"<th>"+"<a  class='delAs' id='delAs' ><i class='layui-icon'></i></a>"+"</th>"+ "</tr>";
                    $('#as tbody').append(thtml);// tabel动态显示元素
                    form.render();
            }

         }

           //全局变量赋值
        var g=$("#globalVariable").attr("globalV");
        var gg = g.replace(/u'/g,"'");
        var ggv=eval(gg);
        if (ggv) {
            for(var i=0;i<ggv.length;i++) {
                    var thtml = "<tr>" + "<th>" + "<input type='text' name='gv_name'  class='layui-input' value='" + ggv[i].gv_name + "'>" + " </th>" + "<th><input type='text'  name='gv_path' placeholder=请输入参数值 class='layui-input' value='" + ggv[i].gv_path + "'></th>" +"<th>"+"<a  class='delGv' id='delGv' ><i class='layui-icon'></i></a>"+"</th>"+ "</tr>";
                    $('#gv tbody').append(thtml);// tabel动态显示元素
                    form.render();
            }

         }

         $('#add1').click(function (event) {
                var thtml="<tr>"+"<th>"+"<input type='text' name='param_name' placeholder=请输入参数名 class='layui-input'>"+" </th>"+"<th><input type='text'  name='param_key' placeholder=请输入参数值 class='layui-input'> </th>"+"<th><select name='paramType' id='paramType'>"+"<option value='string'>string</option>"+"<option value='int'>int</option>"+"</select>"+"</th>"+"<th>"+"<a  class='delrow' id='delrow' ><i class='layui-icon'></i></a>"+"</th>"+"</tr>";
                {#var thtml="<tr>"+"<th>"+"<input type='text' name='param_name' placeholder=请输入参数名 class='layui-input'>"+" </th>"+"<th><input type='text'  name='param_key' placeholder=请输入参数值 class='layui-input'> </th>"+"<th><select name='paramType' id='paramType'>"+"<option value='string'>string</option>"+"<option value='int'>int</option>"+"</select>"+"</th>"+"<th>"+"<button class='layui-btn layui-btn-primary layui-btn-sm' onclick='' id='delrow'><i class='layui-icon'></i></button>"+"</th>"+"</tr>";#}
                $('#param tbody').append(thtml);
                form.render();
                return false;
            });

        $('#addFile').click(function (event) {
                var thtml="<tr>"+"<th>"+"<input type='text' name='file_name' placeholder=请输入参数名 class='layui-input'>"+" </th>"+"<th>"+"<div class='layui-form-item '>"+"<div class='layui-input-inline' style='width: 75%'>"+"<input type='text' id='fpath' name='fpath' placeholder='请输入路径' class='layui-input'>"+"<input type='hidden'  id='file_real_name' name='file_real_name' placeholder=请输入文件名 class='layui-input'>"+"</div>"+"<input type='file' class ='upFile' name='upFile' id='upFile' style='width: 15%' value='选择文件'>"+"</div>"+"</th>"+"<th><select name='pType' id='pType'>"+"<option value='File'>File</option>"+"</select>"+"</th>"+"<th>"+"<a  class='delrow' id='delrow' ><i class='layui-icon'></i></a>"+"</th>"+"</tr>";
                $('#param tbody').append(thtml);
                form.render();
                return false;
            });


         $('#addhead').click(function (event) {
                var thtml="<tr>"+"<th>"+"<input type='text' name='head_name' placeholder=请输入参数名 class='layui-input'>"+" </th>"+"<th><input type='text'  name='head_key' placeholder=请输入参数值 class='layui-input'> </th>"+"<th>"+"<a  class='delhead' id='delhead' ><i class='layui-icon'></i></a>"+"</th>"+"</tr>";
                $('#pa tbody').append(thtml);
                return false;
            });

         $('#addGv').click(function (event) {
                var thtml="<tr>"+"<th>"+"<input type='text' name='gv_name' placeholder=请设置全局变量名称 class='layui-input'>"+" </th>"+"<th><input type='text'  name='gv_path' placeholder=请输入结果返回的参数路径 class='layui-input'> </th>"+"<th>"+"<a class='delGv' id='delGv' ><i class='layui-icon'></i></a>"+"</th>"+"</tr>";
                $('#gv tbody').append(thtml);
                return false;
            });

         $('#addAs').click(function (event) {
                var thtml="<tr>"+"<th>"+"<input type='text' name='a_path' placeholder=请输入验证的返回参数路径 class='layui-input'>"+" </th>"+"<th><input type='text'  name='a_value' placeholder=请输入返回的参数值 class='layui-input'> </th>"+"<th>"+"<a  class='delAs' id='delAs' ><i class='layui-icon'></i></a>"+"</th>"+"</tr>";
                $('#as tbody').append(thtml);
                return false;
            });

         $('#param').on('click', '.delrow', function (e) {
            $(this).closest('tr').remove()
        });

         $('#as').on('click', '.delAs', function (e) {
            $(this).closest('tr').remove()
        });

         $('#gv').on('click', '.delGv', function (e) {
            e.preventDefault();
            $(this).closest('tr').remove();
        });


         $('#pa').on('click', '.delhead', function (e) {
            $(this).closest('tr').remove()
        });
        //环境下拉选择
         $.ajax({
            url: '/selectApiEnvName/',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data, function (index, item) {
                    $('#envname').append(new Option(item.ename, item.eid));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        });


        //项目下拉选择框
            $.ajax({
                url: '/selectProjectName/',
                dataType: 'json',
                type: 'get',
                success: function (data) {
                    $.each(data, function (index, item) {
                        var t= "<option value='"+item.projectName+"' "+(item.projectName=='{{ projectName }}'?'selected':'')+">"+item.projectName+"</option>";
                        $('#projectName').append(t)
                    });

                    layui.form.render("select");
                    //重新渲染 固定写法
                }
            });

        $('#param').on('click', '.upFile', function (e) {
            var that = $(this);
            upload.render({
                  elem: that
                  ,url: '/upload/'
                  ,auto: true
                  ,accept: 'file'
                  ,done: function(res, index, upload){
                    //假设code=0代表上传成功
                    if(res.code == 0){
                        layer.msg('上传完成');
                        that.parent('.layui-form-item ').find('#fpath').val(res.path);
                        that.parent('.layui-form-item ').find('#file_real_name').val(res.name);
                        form.render();
                      //do something （比如将res返回的图片链接保存到表单的隐藏域）
                    }else {
                        layer.msg('上传失败');
                    }

                    //获取当前触发上传的元素，一般用于 elem 绑定 class 的情况，注意：此乃 layui 2.1.0 新增
                    var item = this.item;

                    //文件保存失败
                    //do something
                  }
                });
        });

        form.on('submit(run)',function (data) {
            {#$("#envid").attr("lay-verify",'required');#}
            {#form.render('select');#}
            var values={};
            $(function (){
            var params = $("#api-add").serializeArray();//序列化表单，转化成一个json结构对象
            var x;
            values["headers"] = [];
            values["params"] = [];
            values["asserts"] = [];
            values["galobalValues"] = [];
            values["files"] = [];
            var a = ["head_name","head_key","param_name","param_key"];
            for(x in params){
                var j = $.inArray(params[x].name,a);
                if(j==-1){
                    values[params[x].name] = params[x].value;
                }

            }
            {#alert(JSON.stringify(values));#}
            for(var n = 0;n < $("input[name='head_key']").length;n++){
                var dh = {};
                dh['head_name'] = $("input[name='head_name']")[n].value;
                dh['head_key'] = $("input[name='head_key']")[n].value;
                values["headers"].push(dh);
            }
            for(var i=0;i<$("input[name='param_name']").length;i++){
                var dp = {};
                dp['param_name'] = $("input[name='param_name']")[i].value;
                dp['param_key'] = $("input[name='param_key']")[i].value;
                dp['paramType'] = $("select[name='paramType']")[i].value;
                {#dp['param_default'] = $("input[name='param_default']")[i].value;#}
                {#dp['param_type'] = $("input[name='param_type']")[i].value;#}
                {#dp['param_must'] = $("input[name='param_must']")[i].checked?1:0;#}
                values["params"].push(dp);
            }
            for(var o = 0;o < $("input[name='a_path']").length;o++){
                var da = {};
                da['a_path'] = $("input[name='a_path']")[o].value;
                da['a_value'] = $("input[name='a_value']")[o].value;
                values["asserts"].push(da);
            }

            for(var k = 0;k < $("input[name='gv_name']").length;k++){
                var dg = {};
                dg['gv_name'] = $("input[name='gv_name']")[k].value;
                dg['gv_path'] = $("input[name='gv_path']")[k].value;
                values["galobalValues"].push(dg);
            }
            for(var e = 0;e < $("input[name='file_name']").length;e++){
                var fn = {};
                fn['file_name'] = $("input[name='file_name']")[e].value;
                fn['fpath'] = $("input[name='fpath']")[e].value;
                fn['fname'] = $("input[name='file_real_name']")[e].value;
                fn['pType'] = $("select[name='pType']")[e].value;
                values["files"].push(fn);
            }

            });
            var hp = JSON.stringify(values);
            hp = hp.replace(/\\r\\n/g,"");
            $.ajax({
                url : '/autoApiSimpleRun/',
                type : 'post',
                dataType : 'json',
                contentType :"application/json",
                data : hp,
                success : function (data1) {
                    layer.msg('运行成功', {
                            offset: ['50%'],
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                    {#alert(JSON.stringify(data1));#}
                             $("#response").text(data1);//给textarea赋值
                        });
                },
                error:function(){
                     layer.msg('运行失败，请检查接口信息设置')
                }

            });
        return false;
    });

        form.on('select(sqlType)', function(data) {
            sid = data['value'];
            $.ajax({
            url: '/selectDBForSql/'+sid,
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $('#sqlName').html('');
                $.each(data, function (index, item) {
                    $('#sqlName').append(new Option(item.dbName, item.dbId));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
             });
        });



        form.on('submit(edit)',function (data) {
            var values={};
            $(function (){
            var params = $("#api-add").serializeArray();//序列化表单，转化成一个json结构对象
            var x;
            values["headers"] = [];
            values["params"] = [];
            values["asserts"] = [];
            values["galobalValues"] = [];
            values["files"] = [];
            var a = ["head_name","head_key","param_name","param_key"];
            for(x in params){
                var j = $.inArray(params[x].name,a);
                if(j==-1){
                    values[params[x].name] = params[x].value;
                }

            }
            {#alert(JSON.stringify(values));#}
            for(var n = 0;n < $("input[name='head_key']").length;n++){
                var dh = {};
                dh['head_name'] = $("input[name='head_name']")[n].value;
                dh['head_key'] = $("input[name='head_key']")[n].value;
                values["headers"].push(dh);
            }
            for(var i=0;i<$("input[name='param_name']").length;i++){
                var dp = {};
                dp['param_name'] = $("input[name='param_name']")[i].value;
                dp['param_key'] = $("input[name='param_key']")[i].value;
                dp['paramType'] = $("select[name='paramType']")[i].value;
                {#dp['param_default'] = $("input[name='param_default']")[i].value;#}
                {#dp['param_type'] = $("input[name='param_type']")[i].value;#}
                {#dp['param_must'] = $("input[name='param_must']")[i].checked?1:0;#}
                values["params"].push(dp);
            }
            for(var o = 0;o < $("input[name='a_path']").length;o++){
                var da = {};
                da['a_path'] = $("input[name='a_path']")[o].value;
                da['a_value'] = $("input[name='a_value']")[o].value;
                values["asserts"].push(da);
            }

            for(var k = 0;k < $("input[name='gv_name']").length;k++){
                var dg = {};
                dg['gv_name'] = $("input[name='gv_name']")[k].value;
                dg['gv_path'] = $("input[name='gv_path']")[k].value;
                values["galobalValues"].push(dg);
            }
            for(var e = 0;e < $("input[name='file_name']").length;e++){
                var fn = {};
                fn['file_name'] = $("input[name='file_name']")[e].value;
                fn['fpath'] = $("input[name='fpath']")[e].value;
                fn['fname'] = $("input[name='file_real_name']")[e].value;
                fn['pType'] = $("select[name='pType']")[e].value;
                values["files"].push(fn);
            }

            });
            var hp = JSON.stringify(values);
            $.ajax({
                url : '/caseApiEditPost/',
                type : 'post',
                dataType : 'json',
                contentType :"application/json",
                data : hp,
                success : function (data1) {
                    if (data1.code == 0) {
                        layer.msg('编辑成功', {
                            offset: ['50%'],
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index);
                            location.href = '/api_index/'
                        });
                    } else if (data1.code==2) {
                        layer.msg(data1.msg)
                    }
                    else{
                        layer.msg('编辑失败')
                    }
                }
            });
        return false;
    })
    })
</script>
</body>
</html>