<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>测试平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="测试云平台">
    <meta name="description" content="测试云平台">
    <link rel="shortcut icon" href="/static/mine/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/mine/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/mine/css/okadmin.css">
    <link rel="stylesheet" href="/static/mine/lib/nprogress/nprogress.css">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
            <div class="layui-col-md2">
                   <div class="layui-card">
                        <div class="layui-card-header" style="background:#009688">
                            项目列表
                       </div>
                       <div class="layui-card-body" style="min-height: 500px" id="projectName">

                               <input  type='hidden' class='layui-input'  name='id' id='caseId' value='{{ caseId }}'>
                       </div>
                    </div>
            </div>
            <div class="layui-col-md10">
                <div class="layui-card">
                    <div class="layui-card-header" style="background:#009688">请选择已有接口
                        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新" style="float: right;">
                            <i class="layui-icon layui-icon-refresh"></i>
                        </a>
                    </div>
                    <div class="layui-card-body" style="min-height: 450px">
                        <!--数据表格-->
                         <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
                    </div>
                </div>
            </div>
        <button class="layui-btn" lay-submit id="addAll" style="float: right;">立即提交</button>
    </div>
 </div>
<!--js逻辑-->
<script src="/static/mine/lib/layui/layui.js"></script>
<script src="/static/mine/lib/nprogress/nprogress.js"></script>
<script>
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    };
    layui.use(['element', 'table', 'form', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var laypage = layui.laypage;

        //左侧项目显示
        $.ajax({
                url: '/selectProjectName/',
                dataType: 'json',
                type: 'get',
                success: function (data) {
                    $.each(data, function (index, item) {
                        {#var t= "<div><input  type='hidden' class='layui-input'  name='id' id='pkey' value='"+item.id+"'>"+"<a class='layui-a-tips' data-type='reload' onclick=''>"+item.projectName+"</a>"+"</div>";#}
                        var t ="<div>"+"<a class='layui-a-tips' data-type='reload' id= 'pkey' d='"+item.id+"'>"+item.projectName+"</a>"+"</div";
                        $('#projectName').append(t)
                    });

                    layui.form.render("select");
                    //重新渲染 固定写法
                }
            });

        table.render({
            elem: '#tableId',
            url: '/apiListForProject/',
            limit: 10,
            page: true,
            id:"tableId",
            where: {
                'projectId': ''
            },
            cols: [[
                {type: 'checkbox'},
                {field: 'index', title: 'ID',type:'numbers'},
                {field: 'projectName', title: '所属项目'},
                {field: 'name', title: '接口名称'},
                {field: 'method', title: '请求方式'},
                {field: 'apiAddress', title: '接口地址'},
                {#{field: 'requestParameterType', title: '请求参数格式'},#}
                {field: 'user', title: '创建人'},
                {field: 'createTime', title: '创建时间',width:200},
                {#{title: '操作',  templet: '#operationTpl', align: 'center'}#}
            ]],
            done: function (res, curr, count) {
                $("#countNum").text(count);
            }
        });
        {#重载#}
        var active = {
                    reload: function (d) {
                        var pkey= d;
                          //执行重载
                    table.reload('tableId', {
                                page: {
                                      curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                                'projectId': pkey
                        },
                        {#url: '/search/'#}
                    });
                }
            };
        $('.layui-card-body').on('click','.layui-a-tips', function () {
                var type = $(this).data('type');
                var d = $(this).attr('d');
                active[type]?active[type].call(this,d) : '';
            });
        {#重载结束#}

        $("#addAll").click(function () {
            caseId = $('#caseId').val();
            var checkStatus = table.checkStatus('tableId')
            ,data = checkStatus.data;
             $.ajax({
                url : '/caseApiAddOldPost/'+caseId,
                type : 'post',
                dataType : 'json',
                contentType :"application/json",
                data : JSON.stringify(data),
                success : function (data1) {
                    if (data1.code == 0) {
                        layer.msg('添加成功', {
                            offset: ['50%'],
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index);
                            location.href = '/apiCase_index/'
                        });
                    } else if (data1.code==2) {
                        layer.msg(data1.msg)
                    }
                    else{
                        layer.msg('添加失败')
                    }
                }
            });
        return false;
        })
    })
</script>
<script type="text/html" id="operationTpl">
    <a href="javascript:;" title="编辑" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
    <a href="javascript:;" title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>
</body>
</html>