<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>创建场景</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/mine/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/mine/css/scroll-bar.css">
    <link rel="stylesheet" href="/static/mine/css/sub-page.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_693759_wytlyqhtdtj1nhfr.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>PTS管理</cite></a>
				<a><cite>创建场景</cite></a>
            </span>
    </div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form">
        <div class="layui-form-item">
            <label class="layui-form-label">场景名</label>
            <div class="layui-input-inline">
                <input type="text" name="filename" placeholder="请输入场景名" autocomplete="off" class="layui-input"  >
            </div>
             <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新" style="float: right">
                <i class="layui-icon layui-icon-refresh"></i>
             </a>
             <a class="layui-btn layui-btn-small" href="javascript:history.back(-1);" title="返回上一页" style="float: right">
                <i class="layui-icon layui-icon-left" style="font-size: 16px">返回</i>
            </a>
            <button class="layui-btn" lay-submit lay-filter="addAndRun" style="float: right">保存并执行</button>
            <button class="layui-btn" lay-submit lay-filter="add" style="float: right">保存配置</button>
        </div>
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
          <ul class="layui-tab-title">
            <li class="layui-this">场景配置</li>
            <li>施压配置</li>
          </ul>
          <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show">
                <a class="layui-btn" id="upFile" type="button" name="upFile">
                    <i class="layui-icon">&#xe61f;</i>上传文件
                </a>
                <!--上传表格-->
                <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
                <div class="layui-form-item">
                    JMeter版本：
                      <input type="radio" name="version" value="5.0" title="5.0" >
                      <input type="radio" name="version" value="4.0" title="4.0">
                      <input type="radio" name="version" value="3.1" title="3.1" checked="">
                </div>

            </div>
            <div class="layui-tab-item">
                <div class="layui-form-item">
                    <div class="layui-inline">
                      <label class="layui-form-label">并发数</label>
                      <div class="layui-input-inline">
                        <input type="text" name="phone" autocomplete="off" class="layui-input">
                      </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                      <label class="layui-form-label">压测时长</label>
                      <div class="layui-input-inline">
                        <input type="text" name="phone" autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-input-inline" style="height:38px;line-height:38px;">
                          <span>分</span>
                      </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                      <label class="layui-form-label">预热时间</label>
                      <div class="layui-input-inline">
                        <input type="text" name="phone" autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-input-inline" style="height:38px;line-height:38px;">
                          <span>分</span>
                      </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                      <label class="layui-form-label">循环次数</label>
                      <div class="layui-input-inline">
                        <input type="text" name="phone" autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-input-inline" style="height:38px;line-height:38px;">
                          <span>次</span>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </form>

</div>
<!--js逻辑-->
<script src="/static/mine/lib/layui/layui.js"></script>
<script src="/static/mine/lib/nprogress/nprogress.js"></script>
<script>
      NProgress.start();
      window.onload = function () {
        NProgress.done();
    };
    layui.use(['element', 'form', 'jquery', 'laydate','upload','table'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var upload = layui.upload;

       table.render({
            elem: '#tableId',
            url: '/pts/scriptList/',
            limit: 10,
            page: true,
            id:"tableId",
            where: {
                'keyword': ''
            },
            cols: [[
                {type: 'radio'},
                {field: 'fname', title: '文件名称',width:350},
                {field: 'path', title: '上传状态'},
                {field: 'desc', title: '文件类型'},
                {#{field: 'createTime', title: '上传时间',width:200},#}
                {title: '操作',  templet: '#operationTpl', align: 'center'}
            ]],
            done: function (res, curr, count) {
                $("#countNum").text(count);
            }
        });
        {#重载#}
        var active = {
                    reload: function () {
                    var pkey = $('#pkey').val();
                        {#alert(pkey);#}
                          //执行重载
                    table.reload('tableId', {
                                page: {
                                      curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                                'keyword': pkey
                        },
                        {#url: '/search/'#}
                    });
                }
            };
        $('.layui-btn').on('click', function () {

            var type = $(this).data('type');

            active[type] ? active[type].call(this) : '';

        });
        {#重载结束#}




        upload.render({
                  elem: '#upFile'
                  ,url: '/pts/uploadScript/'
                  ,auto: true
                  ,accept: 'file'
                  ,done: function(res, index, upload){
                    //假设code=0代表上传成功
                    if(res.code == 0){
                        layer.msg('上传完成');
                         $('#filePath').html(res.path);
                         $('#fpath').val(res.path);
                         $('#fname').val(res.name)
                      //do something （比如将res返回的图片链接保存到表单的隐藏域）
                    }else {
                        layer.msg('上传失败');
                    }

                    //获取当前触发上传的元素，一般用于 elem 绑定 class 的情况，注意：此乃 layui 2.1.0 新增
                    var item = this.item;

                    //文件保存失败
                    //do something
                  }
                });

        form.on('submit(add)',function (data) {
        var d = JSON.stringify(data.field);
        $('.layui-tab-content .layui-show').text();
        alert($('.layui-tab-content .layui-show').text());
            $.ajax({
                url : '/scriptAddPost/',
                type : 'post',
                dataType : 'json',
                contentType :"application/json",
                data : d,
                success : function (data1) {
                    if (data1.code == 0) {
                        layer.msg('添加成功', {
                            offset: ['50%'],
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index);
                            location.href = '//'
                        });
                    } else if (data1.code==2) {
                        layer.msg(data1.msg)
                    }
                    else{
                        layer.msg('添加失败')
                    }
                }
            });
        return false;
    })

         $("#addFile").click(function () {
            layer.open({
                title: '上传文件',
                type: 2,
                shade: false,
                maxmin: true,
                shade: 0.5,
                anim: 4,
                area: ['60%', '60%'],
                content: '/pts/fileAdd/',
                zIndex: layer.zIndex,
                // skin: 'layui-layer-molv',
                end: function () {
                    $(".layui-laypage-btn")[0].click();
                }
            });
        })

    })
</script>
<script type="text/html" id="operationTpl">
    <a href="javascript:;" title="下载" lay-event="download"><i class="layui-icon">&#xe642;</i></a>
    <a href="javascript:;" title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>
</body>
</html>