{% extends 'test/index.html' %}
{% block content %}
<!--搜索-->
<div class="projectTools">
搜索：
<div class="layui-inline">
<input class="layui-input" name="id" id="projectSearch" placeholder="项目名称" autocomplete="off">
</div>
<button class="layui-btn" data-type="projectSearch">搜索</button>
</div>
<ins class="adsbygoogle" style="display:inline-block;width:1px;height:50px" data-ad-client="ca-pub-6111334333458862" data-ad-slot="3820120620"></ins>
<!--工具栏(全局)-->
  <div class="layui-btn-group">
      <button class="layui-btn" id="add-project" data-type="projectAdd">新增项目</button>
  </div>
<div class="kit-table-body">
  <!--表格展示-->
  <table id="project-panel-table" lay-filter="data-table"></table>
</div>
 <!--工具栏(每行)-->
  <script type="text/html" id="barDemo">
     <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
      <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
     <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>

  <!--新增项目弹出框-->
    <script type="text/html" id="edit-tpl">
  <form id="project-add" class="layui-form" action="">
     <div class="layui-form-item">
         <label class="layui-form-label">项目名称</label>
         <div class="layui-input-block">
             <input type="text" id="project-add-name" name="project-add-name"
                    lay-verify="project-add-name"
                    class="layui-input">
         </div>
     </div>
     <div class="layui-form-item">
         <div class="layui-inline">
             <label class="layui-form-label">项目描述</label>
             <div class="layui-input-block">
                 <input type="text" id="project-add-desc"
                        name="project-add-desc" lay-verify="project-add-type"
                        class="layui-input">
             </div>
         </div>
         <div class="layui-inline">
             <label class="layui-form-label">版本</label>
             <div class="layui-input-block">
                 <input type="text" id="project-add-version"
                        name="project-add-version" lay-verify="project-add-type"
                        class="layui-input">
             </div>
         </div>
     </div>
      <div class="layui-form-item" style="display:none;">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formEdit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
 </form>
    </script>

<script src="/static/layui/layui.js"></script>
 <script>
     layui.use(['table', 'jquery', 'layer', 'form'], function () {
         var table = layui.table,
             layer = layui.layer,
             form = layui.form,
             laytpl = layui.laytpl,
             $ = layui.jquery;

         //渲染表格
         var tableIns = table.render({//渲染table
             method: 'post',//数据传输方式为post
             elem:'#project-panel-table',
             height: 'full-20',//高度为屏幕高度-20,
             cellMinWidth: 80,//单元格最小宽度为80
             page: true,//开启分页
             limit: 30,//分页默认为30
             url: 'get_projects'//数据获取url
            ,loading: true

             ,id:"project-panel-table"
             ,cols: [[//设置列标签、标题、宽度、是否排序等
                 {field: 'id', title: 'ID', width: 80, sort: true},
                 {field: 'name', title: '项目名称', width: 80},
                 {field: 'version', title: '版本'},
                 {field: 'p_createTime', title: '创建时间'},
                 {fixed: 'right', width: 200, toolbar: '#barDemo'}//设置每行的工具栏以及其容器
             ]]
         });

     })
 </script>
{% endblock %}