<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>测试平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="测试云平台">
    <meta name="description" content="测试云平台">
    <link rel="shortcut icon" href="/static/mine/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/mine/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/mine/css/okadmin.css">
    <link rel="stylesheet" href="/static/mine/lib/nprogress/nprogress.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部导航-->
    <div class="layui-header">
        <div class="layui-logo">测试云平台</div>
        <div class="menu-switch">
{#            <i class="iconfont icon-caidan"></i>#}
            <i class="layui-icon-prev"></i>
        </div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layui-this"><a href=""><i class="iconfont icon-jiankongkongzhiguanlijianguan"></i> 控制管理<span class="layui-badge-dot"></span></a></li>
{#            <li class="layui-nav-item"><a href=""><i class="iconfont icon-weibiaoti35"></i> 产品中心</a></li>#}
{#            <li class="layui-nav-item"><a href=""><i class="iconfont icon-rengongzhineng"></i> 人工智能</a></li>#}
{#            <li class="layui-nav-item">#}
{#                <a href="javascript:;"><i class="iconfont icon-map-setting"></i> 其它系统</a>#}
{#                <dl class="layui-nav-child">#}
{#                    <dd><a href="">邮件管理</a></dd>#}
{#                    <dd><a href="">消息管理</a></dd>#}
{#                    <dd><a href="">授权管理</a></dd>#}
{#                </dl>#}
{#            </li>#}
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/static/mine/images/head.jpg" class="layui-nav-img">
                    {{ user.username }}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人中心<span class="layui-badge-dot"></span></a></dd>
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><a href="javascript:void(0)" id="lock">锁定账户</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/loginout/" id="logout">退出</a></li>
        </ul>
    </div>
    <!--左侧导航区域-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-shrink="all" lay-filter="">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">
                        <i class="layui-icon">&#xe62a;</i> 接口用例管理
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" path="/project_index/" tab-id="1-1">项目管理</a></dd>
                        <dd><a href="javascript:;" path="/env_index/" tab-id="1-2">环境管理</a></dd>
                        <dd><a href="javascript:;" path="/api_index/" tab-id="1-3">接口管理</a></dd>
                        <dd><a href="javascript:;" path="/apiCase_index/" tab-id="1-4">用例管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon">&#xe646;</i> 成员管理
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" path="/user/" tab-id="2-1"><i class="iconfont icon-dianliyonghuzongshu"></i> 用户列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon">&#xe716;</i> 系统管理
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" path="xxxx.html" tab-id="4-1"><i class="iconfont icon-settings"></i> 系统设置</a></dd>
                        <dd><a href="javascript:;" path="xxxx.html" tab-id="4-2"><i class="iconfont icon-blacklist"></i> 屏蔽词</a></dd>
                        <dd><a href="javascript:;" path="xxxx.html" tab-id="4-3"><i class="iconfont icon-rizhi"></i> 系统日志</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
  <div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>接口用例管理</cite></a>
                <a><cite>用例管理</cite></a>
                <a><cite>用例列表</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--模糊搜索区域-->
    <div class="layui-row">
        <form class="layui-form layui-col-md12 ok-search">
            <input class="layui-input" placeholder="请输入用例名称" autocomplete="off" name="id" id="pkey">
            <input class="layui-input" type="hidden" autocomplete="off" name="id" id="caseId" value="{{ id }}">
            <a class="layui-btn" data-type="reload" lay-filter="search">
                <i class="layui-icon layui-icon-search"></i>
            </a>
        </form>
    </div>
    <!--工具栏-->
    <okToolbar>
        <button class="layui-btn" id="add">
            <i class="layui-icon">&#xe61f;</i>添加用例
        </button>
        <span>共有数据：<i id="countNum"></i> 条</span>
    </okToolbar>
    <!--数据表格-->
    <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
</div>
<!--js逻辑-->
<script src="/static/mine/lib/layui/layui.js"></script>
<script src="/static/mine/lib/nprogress/nprogress.js"></script>
<script>
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    }
    layui.use(['element', 'table', 'form', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var laypage = layui.laypage;

        table.render({
            elem: '#tableId',
            url: '/caseApiList/',
            limit: 10,
            page: true,
            id:"tableId",
            where: {
                'keyword': ''
            },
            cols: [[
                {type: 'checkbox'},
                {field: 'index', title: 'ID',type:'numbers'},
                {field: 'projectName', title: '所属项目'},
                {field: 'name', title: '接口名称'},
                {field: 'method', title: '请求方式'},
                {field: 'apiAddress', title: '接口地址'},
                {#{field: 'requestParameterType', title: '请求参数格式'},#}
                {field: 'user', title: '创建人'},
                {field: 'createTime', title: '创建时间',width:200},
                {title: '操作',  templet: '#operationTpl', align: 'center'}
            ]],
            done: function (res, curr, count) {
                $("#countNum").text(count);
            }
        });
        {#重载#}
        var active = {
                    reload: function () {
                    var pkey = $('#pkey').val();
                    var caseId = $('#caseId').val();
                        {#alert(pkey);#}
                          //执行重载
                    table.reload('tableId', {
                                page: {
                                      curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                                'keyword': pkey,
                                'caseId': caseId

                        },
                        {#url: '/search/'#}
                    });
                }
            };
        $('.layui-btn').on('click', function () {

            var type = $(this).data('type');

            active[type] ? active[type].call(this) : '';

        });
        {#重载结束#}

        table.on('tool(tableFilter)', function (obj) {
            var data = obj.data;
            var eid=data['id'];
            var layEvent = obj.event;
            if (layEvent === 'edit') {
                layer.open({
                    title: '编辑环境',
                    type: 2,
                    shade: false,
                    maxmin: true,
                    shade: 0.5,
                    area: ['90%', '90%'],
                    content: '/envEdit/'+eid,
                    zIndex: layer.zIndex,
                    end: function () {
                        $(".layui-laypage-btn")[0].click();
                    }
                });
            } else if (layEvent === 'del') {
                layer.confirm("确定要删除吗？", {skin: 'layui-layer-lan', icon: 2, title: '提示', anim: 6}, function () {
                    $.ajax({
                    url: "/envDelete/" ,
                    data: JSON.stringify({'id':eid}),
                    type: "post" ,
                    dataType:'json',
                    contentType :"application/json",
                    success:function(data){
                        if(data.code==0){
                        layer.msg('删除成功',{
                            offset:['50%'],
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                             },function(){
                            location.reload();
                            });
                        }else{
                            layer.msg(data.msg);
                         }
                    }
                    })
                    {#layer.msg("操作成功！", {icon: 1, time: 1000});#}
                });
            }
        });

        $("#add").click(function () {
            layer.open({
                title: '添加用例',
                type: 2,
                shade: false,
                maxmin: true,
                shade: 0.5,
                anim: 4,
                area: ['90%', '90%'],
                content: '/caseAdd/',
                zIndex: layer.zIndex,
                // skin: 'layui-layer-molv',
                end: function () {
                    $(".layui-laypage-btn")[0].click();
                }
            });
        })
    })
</script>
<script type="text/html" id="operationTpl">
    <a href="javascript:;" title="编辑" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
    <a href="javascript:;" title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>
    <!--底部信息-->
    <div class="layui-footer">
        Copyright ©2018-©2018 zjy-sherry
        <button class="layui-btn layui-btn-danger layui-btn-xs">捐赠作者</button>
    </div>
</div>
<div class="yy"></div>
<!--js逻辑-->
<script src="/static/mine/lib/layui/layui.js"></script>
<script src="/static/mine/lib/nprogress/nprogress.js"></script>
<script src="/static/mine/js/okadmin.js"></script>
</body>
</html>